.name {
    color: #b38b6d;
    font-weight: bold;
    font-size: 40px;
    margin-left: 20%;
    margin-top: 1%;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
}

.name p {
    font-size: 20px;
}

.navbar {
    font-size: 20px;
    margin-right: 20%;
    margin-top: 2%;
    height: 100vh;
    top: 0;
    right: 0;
    position: absolute;
    justify-content: space-between;
    align-items: flex-start;
}

.navbar ul {
    list-style-type: none;
    padding: 30px;
    margin: 0;
}

.navbar li {
    margin: 0;
}

.navbar a {
    display: block;
    color: #b38b6d;
    text-decoration: none;
    padding: 2px 4px;
  }
  
  .navbar a:hover {
    color: #36454F;
    background-color: #9AAB89;
    border-radius: 10px;
    padding: 2px 4px;
    display: inline-block;
  } 

/* Media query for responsiveness to different screen sizes */
@media screen and (max-width: 768px) {
    .navbar {
        width: 150px;
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .navbar{
        width: 100px;
        font-size: 11px;
    }
}