.project_grid {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 15%;
  gap: 20px;
}

.project_tile {
  background-color: #6B7280;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s;
  width: 20%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
  }
  
  .project_tile:hover {
    transform: scale(1.05);
  }
  
  .project_img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }
  
  .project_content {
    padding: 1rem;
  }
  
  .project_tile {
    font-size: 20px;
    font-weight: 600;
  }
  
  .project_desc {
    margin-top: 0.5rem;
    color: #4a5568;
    font-size: 14px;
  }
  
  .project_skills {
    margin-top: 1rem;
    font-size: 14px;
    display: inline-block;
    background-color: #b38b6d;
    color: #4a5568;
    padding: 0.25rem 0.5rem;
    margin-right: 0.25rem;
    border-radius: 0.25rem;
    font-size: 14px;
  }
  